.wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('https://cdn.sends.cc/blobing/img/lantern.png');
}

.scroll img {
  max-height: 80vh;
}

.rule-fade-in-ani {
  animation: bgm-fade-in 0.5s ease forwards;
}

@keyframes rule-zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.rule-zoom-in-ani {
  animation: rule-zoom-in 0.5s ease forwards;
}
