.rank {
  color: #f24a4a;
  -webkit-text-stroke: 1px #fffcb9;
}

.rank-container {
  background: url('/img/lantern.png') center no-repeat;
}

.rank-title {
  color: #f24a4a;
  -webkit-text-stroke: 2px #fffcb9;
}

.rank-item-container {
  overflow-y: auto;
  /* background-color: #fff; */
  left: 50%;
  transform: translateX(-50%);
}

.rankOp-move, /* 对移动中的元素应用的过渡 */
.rankOp-enter-active,
.rankOp-leave-active {
  transition: all 0.5s ease;
}

.rankOp-enter-from,
.rankOp-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

/* 确保将离开的元素从布局流中删除
  以便能够正确地计算移动的动画。 */
.rankOp-leave-active {
  position: absolute;
}

.rank-btn:active {
  transform: scale(0.95);
}
