.progress {
  width: 20rem;
  height: 1.75rem;
  border-radius: 20px;
  color: #f4bf00;
  border: 2px solid;
  position: absolute;
}

.progress::before {
  content: '';
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: #f4bf00;
  animation: p6 2s infinite linear;
}

@keyframes p6 {
  50% {
    inset: 0;
  }
}
