.progress {
  width: 20rem;
  height: 1.75rem;
  border-radius: 20px;
  color: #fffcb9;
  border: 2px solid;
  position: absolute;
}

.progress::before {
  content: '';
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: #fffcb9;
  animation: p6 2s infinite linear;
}

@keyframes p6 {
  50% {
    inset: 0;
  }
}

.tips {
  -webkit-text-stroke: 0.5px #fffcb9;
  color: #f24a4a;
}
