.wechat-tips {
  -webkit-text-stroke: 1px #fffcb9;
  color: #f24a4a;
}

.notify-text span {
  font-size: 20px !important;
  color: #f24a4a !important;
  font-weight: 500 !important;
  text-shadow: 0 .5px 0 #6d352e, 0 -.5px 0 #6d352e, .5px 0 0 #6d352e, -.5px 0 0 #6d352e !important;
}
