.playBtn {
  width: 250px;
  height: 60px;
  background: linear-gradient(180deg, #fffcb9 0%, #f8ffec 100%);
}
.mountain {
  background: url('/img/mountain.png') no-repeat 100%;
  color: #fff;
  font-family: STLiti, 'MainFont';
  font-size: 36px;
  font-weight: 400;
  -webkit-text-stroke: 2px #6d352e;
}
.rabbit {
  width: 6rem;
  height: 6.8125rem;
  background: url('/img/rabbit.png') no-repeat center;
  position: absolute;
  top: -2rem;
  left: -2rem;
}
